*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Segoe UI" !important;
}

$violet: #4439F0;
$light-violet:#EFEEFA;
$muted-color:#6C757D;
$white:#fff;
a{
    text-decoration: none;
}


.box{
    width: 70px;
    height: 70px;
}

.bg-violet,.btn-violet{
    background-color: $violet;
    color: #fff;
}

.text-violet{
    color: $violet;
}
  
  
.btn-violet:hover{
    color: $violet;
    background-color: #fff;
    border-color:  $violet ;
}


.bg-light-violet{
    background-color: $light-violet;
}

nav{
    a{
        color: $muted-color;
        &:hover,
        &:active{color: $violet !important;}

    }
}

footer{
    height: 30px;
}


@media (max-width:768px){
    nav{
        /*position*/
        position: absolute;
        top: 100%; left: 5%; right: 5%;

        /*box-model*/
        margin-top: 5px;
        padding: 5px;
        padding-left: 20px;
        border-radius: 5px;
    }
}