*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

$violet: #4439F0;
$light-violet:#EFEEFA;
$muted-color:#6C757D;
a{
    text-decoration: none;
}

.bg-violet,.btn-violet{
    background-color: $violet;
    color: #fff;
  }

.text-violet{
    color: $violet;
}
  
  
  .btn-violet:hover{
    color: $violet;
    background-color: #fff;
    border-color:  $violet ;
  }


.bg-light-violet{
    background-color: $light-violet;
}

.active{
    color:$violet;
}
nav{
    a{
        color: $muted-color;
        &:hover,
        &:active{color: $violet !important;}

    }
}

footer{
    height: 30px;
}


@media (max-width:768px){
    nav{
        /*position*/
        position: absolute;
        top: 100%; left: 5%; right: 5%;

        /*box-model*/
        margin-top: 5px;
        padding: 5px;
        padding-left: 20px;
        border-radius: 5px;
    }
}