@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

html, body, #root, .App {
    height: 100%;
    color: #707070;
    
}

/*------------------------------------------------------------------*/
/*dark mode*/
.header-dark, .header.header-dark .dropdown button {
    background-color: #22262b !important;
    color: white !important;
}
.sidebar-dark, .sidebar-dark .list-group-item, .sidebar-dark .list-group-item svg path, .darkgrey-bg .table svg path {
    background-color: #262a2f !important;
    color: white;
    stroke: white;
}
.darkgrey-bg {
    background-color: #1e2124 !important;
    min-height: 100%;
}
.darkpurple-bg {
    background-color: #413ab8;
    color: white;
}
.dark-level {
    background-color: #313a44 !important;
    color: #e4ecff !important;
}
.dark-level-name {
    color: #e4ecff !important;
}
.white {
    color: white;
}
.darkgrey-bg input, .darkgrey-bg textarea, .darkgrey-bg select,
.darkgrey-bg select option, .darkgrey-bg .job, .darkgrey-bg .table tbody td {
    background: rgb(43 46 49);
    color: white;
}
.darkgrey-bg .course {
    color: white !important;
}
.darkgrey-bg .logo-title {
    color: #671bf2;
}
/*------------------------------------------------------------------*/

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 25px;
    transition: 0.5s;
    opacity: 0;
}
.sidebar.show {
    width: 300px;
    opacity: 1;
}
.list-group {
    background-color: inherit;
}
.list-group-item {
    border: none !important;
    padding: 18px !important;
    background-color: inherit !important;
    font-size: 17px;
}
.sidebar a {
    text-decoration: none;
}
.list-group-item svg {
    margin-top: -3px;
}
.active .list-group-item, .list-group-item:hover, .list-group-item:hover svg path, .active .list-group-item svg path, .list-group-item:hover a{
    background-color: inherit;
    color: #4439F0 !important;
    stroke: #4439F0;
    font-weight: 500;
    cursor: pointer;
}

/*------------------------------------------------------------------*/

.message-container {
    position: fixed;
    padding: 10px;
    background-color: #75ffb0;
    min-width: 300px;
    min-height: 60px;
    font-size: 17px;
    font-weight: lighter;
    color: black;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    right: 0;
    z-index: 200;
    margin-top: 10px;
    margin-right: 10px;
    transition: 1s;
}
.message-container .closeMessage {
    cursor: pointer;
}

/*------------------------------------------------------------------*/

.logo-container {
    margin-left: -5px;
    text-decoration: none;
}
.logo-container .logo {
    height: 47px;
    width: 45px;
}
.logo-title {
    font-family: 'Roboto Mono', monospace;
    color: black;
    font-size: 26px;
    color: #4300bc;
}

.header-logo {
    text-decoration: none;
}

.header-logo .logo {
    height: 41px;
    width: 40px;
}
.header-logo .logo-title {
    font-size: 24px;
}

/*------------------------------------------------------------------*/

.white-block {
    border-radius: 30px;
    background-color: white;
}

/*------------------------------------------------------------------*/

@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
.loading-spinner {
    width: 160px;
    height: 160px;
    border: 20px solid #f3f3f3ab; /* Light grey */
    border-top: 20px solid #4439F0; /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
    position: absolute;
    left: 44%;
    top: 36%;
}
.spinner-container {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00000074;
    z-index: 5;
}
.loading-page {
    overflow-y: hidden;
    height: 100%;
    background-color: #EFEEFA;
}

/*------------------------------------------------------------------*/

h5 {
    font-size: 19px !important;
}
.black {
    color: black !important;
}
.purple {
    color: #4439F0 !important; 
}
.purple-bg {
    background-color: #6C63F2; 
    color: white;
}
.btn-purple {
    background-color: #4439F0;
    color: white;
    padding: 8px 37px;
    border-radius: 0px;
    font-weight: 500;
    font-size: 15px;
    border: none;
    margin-top: 2px;
    text-decoration: none;
}
.btn-purple:hover {
    color: white;
}

.grey-bg {
    background-color: #F5F5F5;
    min-height: 100%;
}
.btn {
    color: #403F3F;
    border-radius: 0px !important;
    font-weight: 500 !important;
    font-size: 15px !important;
}

/*------------------------------------------------------------------*/

.header {
    background-color: white;
}
.header .fa {
    font-size: 22px;
}
.profile-pic {
    border: 1px solid black;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    margin-top: -4px;
}
.header .profile-pic {
    width: 40px;
    height: 40px;
}
.header .dropdown {
    display: inline;
}
.header .dropdown button, .header .btn-info.active {
    background-color: white !important;
    border: none !important;
    box-shadow: none !important;
}

/*------------------------------------------------------------------*/

.content {
    transition: 0.5s;
    margin-left: 0;
}
.content.shift {
    margin-left: 300px;
}

/*------------------------------------------------------------------*/

.section {
    background-color: white;
    padding: 40px;
    margin: 30px;
    border-radius: 30px;
    text-align: center;
}
.overlap {
    margin-top: -25px;
}

/*------------------------------------------------------------------*/

.level {
    padding: 25px 28px;
    height: 20px;
    width: 25px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid #bdbdbd9c;
    color: #bdbdbdde;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.level.unlocked {
    border: 2px solid #4439F0;
    color: #4439F0;
    font-size: 18px;
}
.level-name {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 5px;
    color: #a3a3a3;
}

/*------------------------------------------------------------------*/

.points {
    font-size: 36px;
    font-weight: 500;
    color: #4439F0;
    margin-top: -7px;
}
#popover-trigger {
    padding: 15px;
    text-align: center;
    color: #707070;
}
.popover-btn {
    position: relative;
    left: 50%;
}

/*------------------------------------------------------------------*/

.cut-text { 
    text-overflow: ellipsis;
    overflow: hidden; 
    width: 75%; 
    white-space: nowrap;
    display: inline-block;
}
.readmore {
    top: -6px;
    position: relative;
}
.red-link {
    color: #F03939 !important;
}

/*------------------------------------------------------------------*/

#upcoming {
    font-size: 15px;
}

/*------------------------------------------------------------------*/

.profile {
    padding: 20px;
    color: white;
    font-size: 19px;
}
.profile .btn {
    margin-top: 30px;
    font-size: 14px !important;
    padding: 8px 5px;
    border: none;
    width: 155px;
}
.btn-light:hover {
    box-shadow: 0 0 5px 2px rgba(211, 212, 213, 0.397) !important;
}
.btn-light:focus {
    box-shadow: 0 0 0 0.25rem rgb(211 212 213 / 50%) !important;
}
.btn-danger {
    color: white !important;
    background-color: #FF5E5E !important;
}
.profile .btn-danger:hover {
    box-shadow: 0 0 5px 2px rgb(255 94 94) !important;
}
.profile .btn-danger:focus {
    box-shadow: 0 0 0 0.25rem rgba(255, 143, 143, 0.69) !important;
}

/*------------------------------------------------------------------*/
.lightpurple-bg {
    background-color: #EFEEFA;
    min-height: 100%;
}
.createprofile {
    color: #707070 !important;
}
.track {
    width: 45%;
    text-align: center;
    padding: 10px;
    height: 140px;
    color: white;
    opacity: 0.5;
    transition: 0.5s;
    margin: 12px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}
.slick-center .track {
    border: 1.5px solid #F03939;
    width: 55%;
    opacity: 1;
    font-size: 19px;
}
.slick-track {
    height: 580px !important;
}

.skills {
    background-color: #E4E3F6;
    border: 1px solid white;
    border-radius: 30px;
    color: black;
    font-weight: lighter;
    padding: 25px;
    height: 560px;
    width: 500px;
    font-size: 18px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.skills::-webkit-scrollbar {
    width: 8px;
  }
  .skills::-webkit-scrollbar-track {
    border-radius: 4px;
  }
  .skills::-webkit-scrollbar-thumb {
    background: #504e6d34;
    border-radius: 4px;
  }
  
  /*------------------------------------------------------------------*/

  .login a {
    text-decoration: none;
  }
  
  .login .box {
    width: 82px;
    height: 82px;
  }

  .getStarted-container .box{
    margin-left: 6px;
    border: 2px solid #3f3f3f;
  }

  .login .container {
      color: black;
  }
  
  .bg-violet, .btn-violet {
    background-color: #4439F0 !important ;
    color: #fff  !important;
  }
  
  .login .text-violet {
    color: #4439F0;
  }

  nav .active {
    color: #4439F0 !important;
    font-weight: bold !important;
  }
  
  .btn-violet:hover,
  .btn-violet:active{
    color: #4439F0 !important;
    background-color: #fff !important;
    border-color: #4439F0 !important;
  }
  
  .login .bg-light-violet {
    background-color: #EFEEFA;
  }
  
  .login nav a {
    color: #6C757D;
    font-weight: lighter;
    font-size: 17px;
  }
  
  .login nav a:hover {
    color: #4439F0 !important;
  }
  
  footer {
    height: 30px;
  }

  .emptyInput {
    box-shadow: 1px 1px 7px #ff000094;
  }
  
  .getStarted {
    transform: scaleX(-1);
    height: 550px;
    width: 400px;
    margin-top: -10px;
  }

/*------------------------------------------------------------------*/

.course {
    height: 300px;
    width: 300px !important;
    margin-bottom: 70px;
    color: black !important;
}
.course img {
    border: 1px solid #707070;
    border-radius: 5px;
}
.course .red-link {
    left: 62%;
    position: relative;
}
.course .btn-purple {
    padding: 8px 16px;
}
.course .btn {
    padding: 8px;
}
.course .btn:hover {
    box-shadow: none !important;
}
.dv-star-rating-star {
    font-size: 22px;
}
.dv-star-rating-full-star {
    color: #4439f0 !important;
}
/*------------------------------------------------------------------*/
.table {
    border: hidden;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 0 0 5px 2px rgba(71, 71, 71, 0.112) !important;
    color: transparent !important;
    background-color: white;
}
.table tbody td {
    color: #403F3F;
    padding: 15px !important;
}
.table-container .table tbody td, .table-container .table th {
    padding: 19px !important;
}
.table-container {
    overflow: scroll;
}
.table-container::-webkit-scrollbar {
    background: transparent;
    width: 0px;
}
.table thead {
    background-color: #6A60F1;
    color: white;
}
.table th {
    padding: 15px !important;
}
.table tr {
    text-align: center;
}

/*------------------------------------------------------------------*/

.job {
    border: 1px solid #00000033;
    padding: 20px 10px;
    border-radius: 15px;
    background-color: white;
}

/*------------------------------------------------------------------*/

.modal {
    font-size: 18px;
    text-align: center;
}
.modal-content {
    border-radius: 30px !important;
    padding: 15px 0px;
}

/*------------------------------------------------------------------*/

.view-mentor .data {
    font-size: 16px;
    text-align: left;
    border: 1.5px solid black;
    border-radius: 10px;
    padding: 7px 15px;
    margin-top: 4px;
}

/*------------------------------------------------------------------*/

.column-section {
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
    text-align: left;
    padding: 5px 15px;
    font-weight: 500;
    margin: 15px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: grab;
}
.column-section .fa {
    font-size: 17px;
    color: #464646;
}
.drag-icon {
    height: 19px;
    width: 25px;
    margin-right: 7px;
    margin-bottom: 4px;
    color: #4439F0;
}

/*------------------------------------------------------------------*/

.admin-tracks .track {
    opacity: 1;
    width: 280px;
}
.admin-tracks .track-container {
    width: 280px;
    background-color: #0000005c;
    position: absolute;
    margin-top: 12px;
    height: 140px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
   
@media (max-width: 768px) {
    nav {
        /*position*/
        position: absolute;
        top: 100%;
        left: 5%;
        right: 5%;
        /*box-model*/
        margin-top: 5px;
        padding: 5px;
        padding-left: 20px;
        border-radius: 5px;
    }
}

@media only screen and (max-width : 767px) {
    .mobile-border {
        padding: 20px;
        border: 1px solid #707070;
        border-radius: 30px;
    }
    .cut-text {
        width: 55%;
    }
}
@media only screen and (max-width : 1023px) {
    .content.shift {
        width: fit-content;
    }
}